@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
    :root.theme-yellow {
        --color-primary-50: #fefce8;
        --color-primary-100: #fef9c3;
        --color-primary-200: #fef08a;
        --color-primary-300: #fde047;
        --color-primary-400: #facc15;
        --color-primary-500: #eab308;
        --color-primary-600: #ca8a04;
        --color-primary-700: #a16207;
        --color-primary-800: #854d0e;
        --color-primary-900: #713f12;
        --color-primary-950: #422006;

        --color-base-50: #f9fafb;
        --color-base-100: #f3f4f6;
        --color-base-200: #e5e7eb;
        --color-base-300: #d1d5db;
        --color-base-400: #9ca3af;
        --color-base-500: #6b7280;
        --color-base-600: #4b5563;
        --color-base-700: #374151;
        --color-base-800: #1f2937;
        --color-base-900: #111827;
        --color-base-950: #030712;

        --color-select: #fef9c3;
    }
}